.App{
  max-width: 860px;
  margin: 40px auto;
}

button{
  background: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  font-weight: bold;
}

button:hover{
  background-color: rgb(255, 99, 71);
  color: #fff;
}